@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap');

body{
    background-color: #A3A3A3;
    background-image: url(img/fondolibreta\ \(3\).avif);
    background-size: cover;
    background-position: center;
}

* {
    box-sizing: border-box;
  }
  .main-container {
    max-width: 800px;
    margin: auto;
  }
  .titulo {
    color: rgb(0, 0, 0);
    margin: 50px auto 80px auto;
    text-align: center;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-size: 4rem;
    font-weight: 300;
    font-style: normal;
  }


  h1#msg-final {
    text-align: center;
    color: crimson;
    transition: all .5s ease;
    transform: scale(0);
    min-height: 50px;
    margin-bottom: 0;
  }
  .zoom-in {
    transform: scale(1) !important;
  }
  #acierto {
    text-align: center;
    min-height: 24px;
    transform: scale(0);
  }
  .acierto {
    animation: zoomInOut 1s ease;
  }
  .rojo {
    color: red;
  }
  .verde {
    color: green;
  }
  @keyframes zoomInOut {
    0% { transform: scale(0); }
    50% { transform: scale(1); }
    70% { transform: scale(1); }
    100% { transform: scale(0); }
  }
  h2.palabra {
    margin: 0 auto 25px auto;
    text-align: center;
    color: royalblue;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  .flex-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto; 
  }
  .no-wrap {
    flex-wrap: nowrap !important;
  }
  .col {
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 50px auto 80px auto;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    
  }
  .col span {
    color: rgb(0, 0, 0);
    margin: 50px auto 80px auto;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  #turnos h3 {
    margin: auto;
  }
  .letra:disabled {
    color:rgba(255, 0, 0, 0.5);
  }

  #pista{

    height: 3em;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    border-color: black;
    background-color: rgb(215, 219, 225);
    transition: background-color 0.3s ease; 
    cursor: pointer;
}

#pista:hover {
    background-color:#9FB8DA; 
}

#pista:active {
    background-color: #336699;
}

  picture {
    position: relative;
  }
  picture img {
    position: absolute;
    top: -203px;
    left: -205px;
    height: 225px;
  }
  #image5, #image4, #image3,
  #image2, #image1, #image0 {
    opacity: 0;
    transition: opacity .3s ease;
  }
  .fade-in {
    opacity: 1 !important;
  }
  .encuadre {
    border: 2px dashed crimson;
    padding: 3px 2px 2px 6px;
  }