body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #A3A3A3;
    background-image: url(img/whiteboard-7163891_1920.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}

.main-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    height: 100%;
    margin-left: 100px;
}

#izq{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#abcdario{
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;

    button{
        font-family: "Shadows Into Light", cursive;
        border: none;
        height: 3rem;
        width: 3rem;
        border-radius: 5px;
        margin: .5rem;
        font-size:larger
    }
}

.teclado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.acciones{
    font-family: "Shadows Into Light", cursive;
    display: flex;
    flex-direction: column;
    width: 100%;
    button{
        font-family: "Shadows Into Light", cursive;
        border: none;
        margin-bottom: 1rem;
        font-size: larger;
        border-radius: 5px;
        width: 100%;
        padding: 0 1rem 0 1rem;
    }
}

#hueco-pista{
    max-width: 60%;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding-left: 4rem;
}

h1#msg-final {
    text-align: center;
    color: crimson;
    transition: all .5s ease;
    transform: scale(0);
    min-height: 50px;
    margin-bottom: 0;
  }
  .zoom-in {
    transform: scale(1) !important;
  }
  #acierto {
    text-align: center;
    min-height: 24px;
    transform: scale(0);
  }
  .acierto {
    animation: zoomInOut 1s ease;
  }

#image5,
  #image15, #image10, #image0 {
width: 100px;
height: auto;
display: none;
  }

  #acierto {
    text-align: center;
    min-height: 24px;
    transform: scale(0);
  }
  .acierto {
    animation: zoomInOut 1s ease;
  }
  .rojo {
    color: red;
  }
  .verde {
    color: green;